@import "tailwindcss";

@theme {
  --color-test: #ff00ff;

  --color-background: #f8f9fa;

  --color-primary-container: #d6e3ff;
  --color-on-primary-container: #00519e;

  --color-secondary-container: #d6e4f7;
  --color-on-secondary-container: #465362;

  --color-on-surface-container: #626d7c;
  --color-surface-container: #f8f9fa;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f1f4f6;
  --color-surface-container-high: #e1e4e8;

  --color-success: #10b981;
  --color-surface-error: #ffe7e6;
  --color-on-surface-error: #a14441;

  --color-neutral-1: #f0f1f2;
  --color-neutral-2: #e1e3e4;
  --color-neutral-3: #c5c7c8;
  --color-neutral-4: #aaabac;
  --color-neutral-5: #8f9192;

  --color-primary-1: #003f7d;
  --color-primary-2: #004f9a;
  --color-primary-3: #005fb8;
  --color-primary-4: #3380c6;
  --color-primary-5: #66a1d4;

  --color-secondary-1: #2f3740;
  --color-secondary-2: #414b56;
  --color-secondary-3: #536070;
  --color-secondary-4: #6d7a89;
  --color-secondary-5: #8793a2;

  --color-tertiary-1: #4a495e;
  --color-tertiary-2: #5c5b74;
  --color-tertiary-3: #757491;
  --color-tertiary-4: #8e8da8;
  --color-tertiary-5: #a7a6bf;

  --on-surface: #586064;
  --font-headline: var(--font-manrope);
}

/* Opcional: variables globales */
:root {
  --color-brand: #005fb8;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-manrope);
}
